In [16]:
# Import dependencies
import pandas as pd
import numpy as np

In [6]:
# Read in the vine_table.csv file as a DataFrame, and perform your analysis
vine_df = pd.read_csv('Resources/amazon_pet_products_vine.csv')

In [7]:
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y

In [67]:
total_reviews = vine_df['review_id'].count()
total_reviews

2643619

In [8]:
# Step 1
# Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is 
# equal to or greater than 20 to pick reviews that are more likely to be helpful and to avoid having 
# division by zero errors later on.
vine_votes_df = vine_df[vine_df['total_votes'] >= 20]
vine_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [24]:
# Step 2
# Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows 
# where the number of helpful_votes divided by total_votes is equal to or greater than 50%.

vine_helpful_df = vine_votes_df[vine_votes_df['helpful_votes'] / vine_votes_df['total_votes'] >= 0.50]
vine_helpful_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [28]:
# Step 3
# Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows 
# where a review was written as part of the Vine program (paid), vine == 'Y'.
vine_review_df = vine_helpful_df.loc[vine_helpful_df['vine'] == 'Y']
vine_review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8547,R3A71VR1JZD8WF,2.0,27.0,30.0,Y,N
10246,R16OMUJIGI18JZ,5.0,72.0,72.0,Y,N
25168,R3TS8ZP2FHQ9XR,5.0,39.0,42.0,Y,N
46422,R2MHP919VZN7DI,5.0,29.0,30.0,Y,N
66446,RD2BCTVS59A5L,2.0,20.0,20.0,Y,N

In [29]:
# Step 4
# Repeat Step 3, but this time retrieve all the rows where the review 
# was not part of the Vine program (unpaid), vine == 'N'.
vine_no_df = vine_helpful_df.loc[vine_helpful_df['vine'] == 'N']
vine_no_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

# Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid).

In [65]:
# Total # of reviews - Vine Paid
total_vine_reviews = vine_review_df['review_id'].count()
total_vine_reviews

170

In [58]:
# Number of 5-star reviews - Vine Paid
vine_five_star_reviews = len(vine_review_df[vine_review_df['star_rating'] == 5])
vine_five_star_reviews

65

In [59]:
# Percentage of 5-star review - Vine Paid
vine_percentage_five_stars = vine_five_star_reviews / total_vine_reviews * 100
vine_percentage_five_stars

38.23529411764706

In [61]:
# Total # of reviews - NOT Paid
total_unpaid_reviews = vine_no_df['review_id'].count()
total_unpaid_reviews

37840

In [62]:
# Number of 5-star reviews - Not Paid
unpaid_five_star_reviews = len(vine_no_df[vine_no_df['star_rating'] == 5])
unpaid_five_star_reviews

20612

In [63]:
# Percentage of 5-star review - Not Paid
unpaid_percentage_five_stars = unpaid_five_star_reviews / total_unpaid_reviews * 100
unpaid_percentage_five_stars

54.471458773784356